body{
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}

.main-image{
	background-color: #7EE8ED;
}

/*.section{
	border-style: solid;
}*/